*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blue{
    background-color: rgb(15, 83, 255);
    color: white;
    border: 0;
    padding: 0.3rem;
    border-radius: 2px;
}
div{
    text-align: center;
    align-items: center;
    justify-content: center;
}
input{
    margin: 0.4rem;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 2px;
}
body{
    background-color: rgb(236, 236, 236);
}